appdirs==1.4.0
dj-database-url==0.4.2
Django==1.10
django-configurations==2.0
django-crispy-forms==1.6.1
django-dotenv==1.4.1
django-extensions==1.7.6
django-braces==1.10.0
packaging==16.8
psycopg2==2.6.1
pyparsing==2.1.10
six==1.10.0
waitress==1.0.1
websockets==3.2
whitenoise==3.3.0
uvloop==0.7.2
django-model-utils==2.6.1
django-test-plus==1.0.17
