{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container">
    <div class="col-md-3">
        <div class="user-list-div">
        <ul>
            {% for dialog in object_list %}
                <li>

                    <a href="{% if dialog.owner == request.user %}
                        {% url 'dialogs_detail' dialog.opponent.username %}
                        {% else %}
                        {% url 'dialogs_detail' dialog.owner.username %}
                        {% endif %}" class="btn btn-primary">{{ dialog }}</a>
                </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="messages-container">
                <div id="messages" class="messages">
                    {% for msg in active_dialog.messages.all %}
                        <div class="row">
                            <p class="{% if msg.sender == request.user %}pull-left{% else %}pull-right{% endif %}">
                                <span class="username">{{ msg.sender.username }}:</span>
                                {{ msg.text }}
                                <span class="timestamp">&ndash; <span
                                        data-livestamp="{{ msg.created }}">{{ msg.created }}</span></span>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="add-message">
                <div class="form-group">
                    <textarea id="chat-message" class="form-control message" placeholder="Write a message"></textarea>
                </div>

                <div class="form-group clearfix">
                    <input id="btn-send-message" type="submit" class="btn btn-primary pull-right send-message" style="margin-left: 10px;" value="Send message" />
                </div>
            </div>
        </div>
    </div>

    </div>

    {% verbatim %}
    <script id="chat-message-template" type="text/x-handlebars-template">
        <p>
            <span class="username">{{ msg.username }}:</span>
            {{ msg.message }}
            <span class="timestamp">&ndash; <span data-livestamp="{{ msg.created}}">{{ msg.created }}</span></span>
        </p>
    </script>

    <script id="user-list-item-template" type="text/x-handlebars-template">
        <li>{{ username }}</li>
    </script>
    {% endverbatim %}

{% endblock %}

{% block extra_js %}
    <script>
        var base_ws_server_path = "{{ ws_server_path }}";
        $(document).ready(function () {
            var websocket = null;


            // TODO: Use for adding new dialog
            function addNewUser(packet) {
                $('#user-list').html('');
                packet.value.forEach(function (userInfo) {
                    if (userInfo.username == getUsername()) return;
                    var tmpl = Handlebars.compile($('#user-list-item-template').html());
                    $('#user-list').append(tmpl(userInfo))
                });
            }

            function addNewMessage(packet) {
                var msgElem = generateMessage(packet);
                $('#messages').append(msgElem);
                scrollToLastMessage()
            }

            function scrollToLastMessage() {
                var $msgs = $('#messages');
                $msgs.animate({"scrollTop": $msgs.prop('scrollHeight')})
            }

            function generateMessage(context) {
                var tmpl = Handlebars.compile($('#chat-message-template').html());
                return tmpl({msg: context})
            }

            function setupChatWebSocket(username) {
                websocket = new WebSocket(base_ws_server_path+"/"+username);
                ////////////////////////////////////////////////////////////////
                //TODO: online-offline
                {% comment %}
                websocket.onopen = function (event) {
                    var onConnectPacket = JSON.stringify({
                        type: "start-dialog",
                        session_key: {{ request.session.session_key }}
                    });
                    console.log('connected, sending:', onConnectPacket);
                    websocket.send(onConnectPacket)
                };

                websocket.onclose = function (event) {
                    console.log('disconnected');
                    var onClosePacket = JSON.stringify({type: 'close'});
                    websocket.send(onClosePacket)
                };
                {% endcomment %}
                ////////////////////////////////////////////////////////////////
                websocket.onmessage = function (event) {
                    var packet;

                    try {
                        packet = JSON.parse(event.data);
                        console.log(packet)
                    } catch (e) {
                        console.log(e);
                    }

                    switch (packet.type) {
                        case "new-dialog":
                            // TODO: add new dialog to dialog_list
                            break;
                        case "user-not-found":
                            // TODO: dispay some kind of an error that the user is not found
                            break;
                        case "user-status-changed":
                            // TODO: user went online-offline
                            break;

                        case "new-message":
                            addNewMessage(packet);
                            break;

                        default:
                            console.log('error: ', event)
                    }
                }
            }

            function sendMessage(message) {
                var opponent_username;
                {% if active_dialog.owner == request.user %}
                        opponent_username = "{{ active_dialog.opponent.username }}";
                {% else %}
                        opponent_username = "{{ active_dialog.owner.username }}";
                {% endif %}
                var newMessagePacket = JSON.stringify({
                    type: 'new-message',
                    session_key: '{{ request.session.session_key }}',
                    username: opponent_username,
                    message: message
                });
                websocket.send(newMessagePacket)
            }

            $('#chat-message').keypress(function (e) {
                if (e.which == 13 && this.value) {
                    sendMessage(this.value);
                    this.value = "";
                    return false
                }
            });

            $('#btn-send-message').click(function (e) {
                var $chatInput = $('#chat-message');
                var msg = $chatInput.val();
                if (!msg) return;
                sendMessage($chatInput.val());
                $chatInput.val('')
            });
        });

    </script>
{% endblock %}